@page "/home"

<PageTitle>Home</PageTitle>

<h1>Bem Vindo ao FreeStreaming!</h1>

Fique por dentro das novidades

<div>
    <div id="seriesNovidades">
        @if (seriesNovidades.Any() == false)
        {
            <p>Nenhuma serie foi encontrada...</p>
        }
    </div>
    <div id="moviesNovidades">
        @if(moviesNovidades.Any() == false)
        {
            <p>Nenhum filme foi encontrado...</p>
        }
    </div>
</div>

@code {
    //TODO: customizar home
    //TODO: adicionar modal com anitamiton pra mostrar filmes e series na home
    List<Series> seriesNovidades = new List<Series>();
    List<Movies> moviesNovidades = new List<Movies>();
}