@page "/series"
    @rendermode InteractiveServer

    <PageTitle>Series</PageTitle>

    <h1>Series</h1>

    <input @bind="searchValue" />
    <button class="btn btn-primary" type="subimit" @onclick="SearchSeries">Search</button>
    <p>Serie pesquisada: @searchValue</p>

    @if(series.Any() == false){
    <p>Busque alguma serie...</p>
}else{
    <div class="series">
        @foreach (var serie in series)
        {
            <p>Serie</p>
        }
        </div>

    }


@code {
    private string searchValue = "";
    List<Series> series = new List<Series>();

    private List<Series> SearchSeries()
    {
	//TODO: create request and series = response;
	
        return new List<Series>();
    }
}
